@font-face {
    font-family: "Bebas Neue";

    src: url(../fonts/BebasNeue-Regular.woff) format('woff');
}

/* @font-face {
    font-family: "Exo 2";

    src: url(../fonts/exo2-medium-webfont.woff) format('woff');
} */

body {
    /* margin-top: 25px; */
    opacity: 0;
    transition: 1s;
    font-family: "Exo 2", cursive;
    color: black;

}

@media only screen and (max-width: 800px) {
    body {
        font-family: arial, sans-serif;
    }

    .next {
        width: 52px;
        height: 52px;
        background-image: url(../img/next.png);
        position: absolute;
        /* top: 40%; */
        /* margin-left: 20px; */
        opacity: .4;
        filter: drop-shadow(5px 5px 10px blue);
    }

    .prev {
        width: 52px;
        height: 52px;
        background-image: url(../img/prev.png);
        position: absolute;
        /* top: 40%; */
        /* margin-left: -80px; */
        opacity: .4;
        filter: drop-shadow(5px 5px 10px blue);
    }

}

body.bAppear {
    opacity: 1;
}

.navbar-inverse {
    background-color: rgba(0, 8, 54, 0);
}

/* .navbar-transparant {
    background-color: rgba(0, 8, 54, 0);
} */


#nav-list,
#nav-title {
    color: white;
    font-weight: bold;
    font-variant: small-caps;
}

#nav-title:hover {
    color: rgba(206, 241, 255, 0.3);
}

#nav-list:hover {
    color: rgba(206, 241, 255, 0.3);
    display: inline-block;
    background-color: rgba(206, 241, 255, 0.3);
}


.jumbotron {
    color: white;
    background-image: url('../img/earthnetwork-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -20px;
    overflow: hidden;
}

.jumbotron h1,
.jumbotron p {
    text-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
}

.jumbotron img,
.jumbotron h1,
.jumbotron p {
    filter: opacity(0);
    transform: translateY(-50px);
    transition: 1s;
}

.jumbotron img.jAppear,
.jumbotron h1.jAppear,
.jumbotron p.jAppear {
    filter: opacity(1);
    transform: translateY(0);
}


.jumbotron img {
    width: 200px;
    border: 2px solid rgba(206, 241, 255, 0.411);
    margin-top: 25px;
}


section hr {
    width: 230px;
    border-top: 3px solid rgb(96, 87, 224);
}

section,
footer {
    min-height: 600px;
    opacity: 0;
    transition: 1s;
}

section.Appear,
footer.Appear {
    opacity: 1;
}

section:nth-child(even) {
    background-color: rgb(221, 224, 253);
}

.pKiri,
.pKanan {
    transform: translate(-50px, 0);
    opacity: 0;
    transition: 1s;
}

.pKanan {
    transform: translate(50px, 0);
}

.pKiri.pAppear,
.pKanan.pAppear {
    opacity: 1;
    transform: translate(0, 0);
}

.portfolio .thumbnail.t1 {
    filter: opacity(0);
    transition: .8s;
    transform: translateY(-20px);
}

.portfolio .thumbnail.t1.appears {
    filter: opacity(1);
    transform: translateY(0px);
}

.portfolio .thumbnail.t2 {
    filter: opacity(0);
    transition: .8s;
    transform: translateY(-20px);
}

.portfolio .thumbnail.t2.appears {
    filter: opacity(1);
    transform: translateY(0px);

}

.contact {
    min-height: 900px;
}

footer {
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    min-height: 120px;
    background-color: rgb(0, 8, 54);
}

footer p {
    color: white;
    font-size: 0.9em;
    padding-top: 33px;
    letter-spacing: 0.4rem;
    white-space: unset;
}

footer a {
    white-space: unset;
    color: skyblue;
}

footer ul li {
    display: inline-block;
    margin-right: 18px;
}

footer i.fa {
    color: white;
    font-size: 20px;
}

footer i.fa:hover {
    color: rgb(183, 235, 255);
}



/* Overlay */

.overlay {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 5;
    transition: .5s;
    text-align: center;
}

.overlay:target {
    width: auto;
    height: auto;
    overflow: auto;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .8);
    padding: 5px;
}

.overlay img {
    max-height: 100%;
    max-width: 100%;
    filter: drop-shadow(2px 2px 7px rgba(0, 0, 0, 0.8));
}

.overlay:target img {
    animation: zoomAndFade .8s forwards;
}

.kotak {
    margin-top: 70px;
}

.close {
    position: absolute;
    color: white;
    display: inline-block;
    background-color: rgba(200, 200, 200, .5);
    width: 30px;
    border: 2px solid rgb(87, 87, 87);
    filter: opacity(0);
}

.overlay a.close:hover {
    color: white;
    background-color: rgb(87, 87, 87);
    border: 2px solid rgba(200, 200, 200, .5);
    box-shadow: 3px -3px 10px skyblue;
}

.overlay:target .close {
    animation: slideDownFade .8s .25s forwards;
    box-shadow: 3px -3px 10px 5px blue;
}

/* Navigasi Overlay */
.next {
    width: 52px;
    height: 52px;
    background-image: url(../img/next.png);
    position: absolute;
    top: 40%;
    margin-left: 20px;
    opacity: .7;
    filter: drop-shadow(5px 5px 10px blue);
}

.prev {
    width: 52px;
    height: 52px;
    background-image: url(../img/prev.png);
    position: absolute;
    top: 41%;
    margin-left: -80px;
    opacity: .7;
    filter: drop-shadow(5px 5px 10px blue);

}

.overlay:target .next,
.overlay:target .prev {
    animation: fadeIn .8s .25s alternate;
}

.overlay a.next:hover,
.overlay a.prev:hover {
    opacity: 1;
    filter: drop-shadow(2px 2px 5px skyblue);
}

/* Animasi */

@keyframes fadeIn {
    0% {
        opacity: .2;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: .7;
    }
}

@keyframes zoomAndFade {
    0% {
        transform: scale(0);
        filter: opacity(0);
    }

    100% {
        transform: scale(1);
        filter: opacity(1);
    }
}

@keyframes slideDownFade {
    0% {
        filter: opacity(0);
        margin-top: -20px;
    }

    100% {
        filter: opacity(1);
        margin-top: 0;
    }
}